///////////////////////////////////////
//         Colors + Themes           //
///////////////////////////////////////
:root {
    --light: rgb(160, 240, 182);
    --light2: rgb(81, 127, 77);
    --dawn: rgb(227, 192, 104);
    --dawn2: rgb(150, 71, 25);
    --dark: rgb(163, 153, 239);
    --dark2: rgb(34, 29, 72);

    --max-width: 1100px;
    --text: white;
    --text2: black;
}

.light {
    background: linear-gradient(to bottom, var(--light), var(--light2));
}
.dark {
    background: linear-gradient(to bottom, var(--dark), var(--dark2));
}
.dawn {
    background: linear-gradient(to bottom, var(--dawn), var(--dawn2));
}

///////////////////////////////////////
//           Globals CSS             //
///////////////////////////////////////
 

///////////////////////////////////////
//          MEDIA SCREEN             //
///////////////////////////////////////
@media screen and (min-width: 0px) {

}
/* Ipad Pro */
@media screen and (min-width: 450px) and (max-width: 991px) {

}
/* Tablets */
@media screen and (min-width: 750px) and (max-width: 1023px){

}
/* Small Desktop */
@media screen and (min-width: 1024px) { 

}
/* Regular Desktop */
@media screen and (min-width: 1300px) {

}

@media only screen and (min-width: 2000px) {

}